* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-image: url("img/Ruido.png");
    padding: 15em 20em;
    margin: auto;
    border-radius: 2em;
    border: 1px solid #ffffff;
}

.container__texto{
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

span{
    color:rgb(0, 252, 0);
    padding: 10px ;
    box-shadow: 2px 0px 20px rgb(94, 255, 0);
}

button{
    margin-top: 1.5em;
    margin-left: 33%;
    padding:10px 50px;
    font-size: 1.5em;
    background-color: rgba(30, 255, 0, 0.575);
    color: rgb(255, 255, 255);
}